/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

:root {
  /* Farver */
  --background-color: #F9F5EE;
  --background-light: #fffefd;
  --background-light-transparent: #fffefda0;
  --primary-color: #f7a6b3;
  --primary-color-light: #F8CED0;
  --secondary-color: #b6c3a5;
  --secondary-color-dark: #64764E;
  --tertiary-color: #f5a86c;
  --accent-color: #e24a54;
  --text-color: #1f1b1d;

  /* Fonte */
  --hurricane: "Hurricane", serif;
  --bitter: "Bitter", serif;
  --raleway: "Raleway", sans-serif;

  /* H1 */
  --h1-size: 4.4rem;
  --h1-size-s: 4.5rem;
  --h1-size-m: 5rem;
  --h1-size-l: 5rem;

  /* H2 */
  --h2-size: 1.7rem;
  --h2-size-s: 1.8rem;
  --h2-size-m: 2rem;
  --h2-size-l: 2rem;

  /* H3 */
  --h3-size: 1.7rem;
  --h3-size-s: 1.8rem;
  --h3-size-m: 2rem;
  --h3-size-l: 2rem;

  /* H4 */
  --h4-size: 1.1rem;
  --h4-size-s: 1.2rem;
  --h4-size-m: 1.3rem;
  --h4-size-l: 1.5rem;

  /* P */
  --p-size: 1.1rem;
  --p-size-s: 1.2rem;
  --p-size-m: 1.3rem;
  --p-size-l: 1.5rem;

  /* Effekter */
  --shadow: -4px 4px 10px #0000003e;
}
