/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/********************************************** Mobile first *************************************************/

/***************** Hero ************/

.hero {
  background-color: var(--background-color);
  background-image: url(../img/striber.svg);
  background-repeat: repeat;
  padding-top: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.hero h1 {
  width: 18rem;
  text-align: center;
  line-height: 95%;
  padding-bottom: 3rem;
  margin: auto;
}

.hero h4 {
  padding-bottom: 1rem;
}


/*************************************************** S ******************************************************/
@media (min-width: 481px) {
  /*************** Hero ************/
}
/*************************************************** M *******************************************************/
@media (min-width: 770px) {
}

/**************************************************** L ******************************************************/
@media (min-width: 1200px) {
}
