/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* Mobile first */

.om-mig {
  background-color: var(--background-color);
  background-image: url(../img/striber.svg);
  background-size: 480px 480px;
  background-repeat: repeat;
  padding: 1rem 3rem 3rem 3rem;
}

.cv-text {
  background-color: var(--background-light);
  border-radius: 20px;
  padding: 3rem;
  position: relative;
  overflow: visible;
  margin: auto;
  margin-bottom: 3rem;
  margin-top: 3rem;
  box-shadow: var(--shadow);
}

.cv-text ul {
  list-style: none;
}

.oplevelse {
  background-color: var(--background-light);
  border-radius: 20px;
  padding: 3rem;
  position: relative;
  overflow: visible;
  margin: auto;
  margin-bottom: 3rem;
  margin-top: 3rem;
  box-shadow: var(--shadow);
}

/* S */
@media (min-width: 481px) {
}
/* M */
@media (min-width: 850px) {
}

/* L */
@media (min-width: 1200px) {
}
